@import _bootstrap

a
	color: #0285ef

body
	font: 400 14px/1.3 'Montserrat', sans-serif

header
	background: #66666b url(../img/header-img.jpg) 50% 0 no-repeat

	@media (max-width: $screen-xs-max)
		background-position: 50% 100%

	@media (min-width: $screen-md-min)
		height: 705px

.header-content

	@media (min-width: $screen-md-min)
		display: flex
		height: 705px
		flex-flow: column
		justify-content: space-between

	img
		max-width: 100%

	&__top
		padding-top: 25px

		@media (max-width: $screen-xs-max)
			text-align: center

		@media (min-width: $screen-md-min)
			display: flex
			align-items: center

		.button
			padding-top: 9px
			padding-bottom: 9px

			@media (max-width: $screen-sm-max)
				margin-top: 15px

			@media (min-width: $screen-md-min)
				width: 100%

		img
			@media (max-width: $screen-sm-max)
				margin-bottom: 15px

	&__bottom
		color: #fff

		@media (max-width: $screen-xs-max)
			padding-bottom: 25px

		@media (max-width: $screen-sm-max)
			margin-top: 40px

		h1,
		h3,
		h4
			margin: 0

		h1
			text-transform: uppercase

			@media (max-width: $screen-xs-max)
				font-size: 20px

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
				font-size: 30px

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
				font-size: 40px

			@media (min-width: $screen-lg-min)
				font-size: 45px

		h3
			font-size: 19px
			line-height: 25px
			font-weight: 400
			max-width: 600px
			margin-top: 18px

		h4
			font-size: 19px
			font-weight: 400
			margin-bottom: 22px

		.main-info
			@media (min-width: $screen-md-min)
				margin-top: -15px

		.main-detail

			@media (max-width: $screen-xs-max)
				margin-top: 40px

			@media (min-width: $screen-sm-min)
				margin-top: 70px

			@media (min-width: $screen-md-min)
				margin-top: 120px

		.button
			letter-spacing: 1.3px
			padding: 13px 39px

		.small
			@media (min-width: $screen-md-min)
				line-height: 23px

		a
			font-style: italic
			color: #fff

		.more-info

			@media (min-width: $screen-sm-min)
				margin-top: 90px
				margin-left: -13.33333%

			span
				position: relative

				@media (min-width: $screen-sm-min)
					padding-left: 75px
					padding-bottom: 25px
					display: block

				&:before,
				&:after
					position: absolute

				&:before
					height: 1px
					width: 60px
					background-color: #fff
					left: 0
					top: 8px

					@media (min-width: $screen-sm-min)
						content: ''

				&:after
					content: ''
					width: 39px
					height: 17px
					margin-top: 11px
					margin-left: 15px
					background: url(../img/ico-turn-right.svg) 0 0 no-repeat
					background-size: contain

.header-img
	@media (min-width: $screen-sm-min) and (max-width: $screen-md-max)
		display: flex

.phone-top,
.mail-top
	font-size: 22px
	position: relative
	padding-left: 35px
	color: #fff
	display: inline-block

	@media (min-width: $screen-md-min)
		margin: 0

	@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
		font-size: 18px

	&:hover
		color: #fff
		text-decoration: none

	&:before
		content: ''
		position: absolute
		width: 24px
		height: 24px
		top: 50%
		left: 0
		transform: translateY(-50%)

.phone-top
	&:before
		background: url(../img/phone-ico-top.svg) 0 0 no-repeat

.mail-top
	&:before
		background: url(../img/mail-ico.svg) 0 0 no-repeat

.content-bg
	padding-top: 30px
	background: url(../img/bg.png) 50% 0 no-repeat


h2

	font-size: 26px
	font-weight: 300


.border-header
	margin-top: 12px
	margin-bottom: 20px
	overflow: hidden

	&:before,
	&:after
		content: ''
		box-sizing: border-box
		display: inline-block
		width: 100%
		height: 1px
		background-color: #e2e2e2
		border: solid #fff
		border-width: 0 15px
		vertical-align: middle

	&:before
		margin-left: -100%

	&:after
		margin-right: -100%

	.color
		color: #2b77ee

	&--right
		padding-left: 8.33333%

		&:after
			content: none

.goods-item
	border: 1px solid #e2e2e2
	box-sizing: border-box
	padding: 25px 25px 20px
	text-align: center
	margin-bottom: 18px

	img
		margin-bottom: 20px

	.name
		font-size: 14px
		height: 50px
		margin-bottom: 7px

	.price
		font-size: 20px
		font-weight: 500

	.button
		padding: 7px 32px

.button
	font-weight: 600
	color: #fff
	border-radius: 25px
	text-transform: uppercase
	padding: 7px 23px
	font-size: 12px
	transition: opacity linear .2s
	text-decoration: none
	border: 0
	display: inline-block

	&:hover,
	&:focus,
	&:active
		opacity: .9
		color: #fff
		text-decoration: none
		outline: none

	&--white-border
		border: 1px solid #fff
		background-color: transparent
		font-size: 13px
		text-align: center
		display: inline-block

	&--gradient
		background: rgb(0,141,248)
		background: -moz-linear-gradient(-45deg, rgba(0,141,248,1) 0%, rgba(32,124,202,1) 65%, rgba(18,81,184,1) 100%)
		background: -webkit-linear-gradient(-45deg, rgba(0,141,248,1) 0%,rgba(32,124,202,1) 65%,rgba(18,81,184,1) 100%)
		background: linear-gradient(135deg, rgba(0,141,248,1) 0%,rgba(32,124,202,1) 65%,rgba(18,81,184,1) 100%)

	&--white
		background-color: #fff
		padding: 0 32px
		height: 41px
		color: #0e60c8
		box-shadow: 11px 11px 24px rgba(0,0,0, .39)
		width: 100%

		&:hover,
		&:focus,
		&:active
			color: #0e60c8


.price-info
	@media (max-width: $screen-xs-max)
		margin-bottom: 40px

	@media (min-width: $screen-sm-min)
		margin-top: 40px
		margin-bottom: 40px

	@media (min-width: $screen-md-min)
		margin-top: 80px
		margin-bottom: 60px

	&__download
		padding-top: 35px

		p
			font-size: 18px
			font-weight: 600
			margin-bottom: 20px

	&__ico-txt
		display: flex
		align-items: center

		img
			margin-right: 20px

		a
			font-size: 16px
			font-weight: 600
			text-decoration: underline

.manager
	min-height: 180px
	position: relative

	@media (max-width: $screen-sm-max)
		margin-top: 80px

	> img
		position: absolute
		z-index: 0
		max-width: 100%

		@media (max-width: $screen-sm-max)
			margin-top: 55px

		@media (min-width: $screen-md-min)
			top: -55px

		@media (min-width: $screen-lg-min)
			right: -15px

	&:before,
	&:after
		content: ''
		position: absolute
		z-index: 2

	&:before
		left: 0
		bottom: 0
		border-bottom: 40px solid #fff
		border-right: 60px solid transparent

	&:after
		right: 0
		top: 0
		border-bottom: 40px solid transparent
		border-right: 60px solid #fff

	&__bg
		position: relative
		margin: 0

		&--1
			background-color: rgba(177,177,177, .8)

		&--2
			background: rgba(177,177,177, 1) url(../img/lightning-bg.png) -50% 50% repeat-y

			@media (max-width: $screen-sm-max)
				display: flex
				flex-flow: column-reverse
				background-repeat: no-repeat
				background-position: 0 0

	&__img
		@media (max-width: $screen-sm-max)
			margin-top: -50px
			text-align: center

		@media (min-width: $screen-lg-min)
			margin: -57px 0 0 20px

		img
			max-width: 100%

	&__info
		box-sizing: border-box

		@media (max-width: $screen-sm-max)
			padding: 30px 15px 40px

		@media (min-width: $screen-md-min)
			margin-left: -23px
			padding: 30px 0 0

		h3
			font-size: 18px
			color: #fff
			margin-top: 0
			margin-bottom: 20px

		p
			font-size: 12px
			color: #fff
			font-weight: 300

		a
			color: #fff
			font-style: italic
			font-size: 12px
			fw

	&__form
		margin-bottom: 20px

		input[type=text]
			width: 100%

		.button
			padding: 12px 23px
			box-shadow: 13px 13px 27px rgba(0,0,0, .27)
			display: block
			width: 100%

			&:focus
				outline: none

		.phone-ico
			position: relative

			&:before
				content: ''
				position: absolute
				background: url(../img/phone-ico.svg) 0 0 no-repeat
				width: 16px
				height: 16px
				top: 50%
				transform: translateY(-50%)
				left: 15px

		.inp-phone
			height: 41px
			border-radius: 25px
			border: 0
			color: #959595
			padding: 0 45px
			font-size: 16px

			@media (max-width: $screen-xs-max)
				margin-bottom: 20px

			&:focus
				outline: none

.lightning-text-info
	h2
		margin-top: 20px
		margin-bottom: 15px

		@media (max-width: $screen-xs-max)
			font-size: 22px


.lightning-img-info
	@media (min-width: $screen-md-min)
		margin-bottom: 70px

	&__header
		margin-bottom: 35px

		@media (min-width: $screen-sm-min)
			display: flex
			align-items: center

		img
			max-width: 100%

			@media (max-width: $screen-xs-max)
				margin: 0 auto
				display: block

	&__text
		@media (max-width: $screen-xs-max)
			margin-top: 20px

		@media (min-width: $screen-sm-min)
			margin-left: -7%

	h2
		margin: 0

		@media (max-width: $screen-xs-max)
			font-size: 22px


.material

	&__item
		text-align: right
		background: url(../img/material.jpg) 0 40px no-repeat
		display: flex
		justify-content: space-between

	&__img

		img
			margin: -9px 0 0 25px

	&__info
		padding: 70px 30px 30px 0
		display: flex
		flex-flow: column
		justify-content: space-between


		h4
			font-size: 18px
			color: #fff
			font-weight: 500
			text-transform: uppercase
			margin: 0 0 10px

		.dop-info
			display: block
			color: rgba(255,255,255, .3)
			font-size: 30px
			font-weight: 800
			line-height: 1.2

		.time
			font-size: 16px
			color: #fff
			line-height: 20px

	&__info-top
		height: 140px
		overflow: hidden


.dealers-offers
	background: #3a98e9 url(../img/dealers-offers-bg.png) 50% 100% no-repeat
	color: #fff
	position: relative
	margin-top: 80px

	@media (max-width: $screen-xs-max)
		padding: 50px 15px

	@media (min-width: $screen-sm-min)
		padding: 50px 0 30px

	@media (min-width: $screen-md-min)
		padding: 50px 0 10px

	&:before,
	&:after
		content: ''
		position: absolute
		z-index: 2

	&:before
		left: 0
		bottom: 0
		border-bottom: 40px solid #fff
		border-right: 60px solid transparent

	&:after
		right: 0
		top: 0
		border-bottom: 40px solid transparent
		border-right: 60px solid #fff

	&__header
		text-align: center

		h2
			font-weight: 600
			position: relative
			overflow: hidden
			margin: 0 0 15px

			@media (max-width: $screen-xs-max)
				font-size: 22px

			&:before,
			&:after

				@media (min-width: $screen-sm-min)
					content: ''
					position: absolute
					background-color: #8bb3fd
					height: 1px
					width: calc(50% - 30px)
					top: 50%
					display: inline-block

			&:before
				@media (min-width: $screen-sm-min)
					margin-left: -50%

			&:after
				@media (min-width: $screen-sm-min)
					margin-right: -50%
					margin-left: 30px

		p
			font-size: 16px
			font-weight: 33

	h4
		text-transform: uppercase
		margin: 0
		overflow: hidden
		font-size: 16px

		&:after
			content: ''
			display: inline-block
			vertical-align: middle
			box-sizing: border-box
			width: 100%
			height: 1px
			background-color: #8bb3fd
			margin-right: -100%
			border: solid #208be9
			border-width: 0 15px

	&__item
		display: flex
		margin-top: 50px
		justify-content: space-between
		align-items: center

		@media (max-width: $screen-xs-max)
			flex-flow: column

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
			flex-flow: column

	&__item-img
		width: 105px

		@media (max-width: $screen-xs-max)
			margin: 0 auto 15px

		@media (min-width: $screen-md-min) and (max-width: $screen-md-max)
			margin: 0 auto 15px

	&__item-txt

		@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
			width: calc(100% - 120px)

		@media (min-width: $screen-lg-min)
			width: calc(100% - 120px)

		p
			font-size: 16px
			font-weight: 500
			line-height: 24px

	&__form
		margin-top: 10px
		overflow: hidden

		form
			@media (min-width: $screen-md-min)
				display: flex
				align-items: center

		input[type="text"]
			border: 1px solid #fff
			background-color: transparent
			border-radius: 25px
			height: 41px
			color: #bce0ff
			padding: 0 40px
			font-size: 16px
			box-sizing: border-box
			width: 100%

			&::-webkit-input-placeholder
				color: #bce0ff

			&::-moz-placeholder
				color: #bce0ff

			&:-ms-input-placeholder
				color: #bce0ff

		p
			font-size: 12px

			@media (max-width: $screen-sm-max)
				margin-top: 20px

			a
				color: #fff
				font-style: italic

		.phone-ico,
		.name-ico
			position: relative

			@media (max-width: $screen-sm-max)
				margin-bottom: 15px
				display: block

			&:before
				content: ''
				position: absolute
				left: 15px
				top: 50%
				transform: translateY(-50%)

		.phone-ico
			&:before
				width: 16px
				height: 16px
				background: url(../img/phone-ico-white.svg) 0 0 no-repeat

		.name-ico
			&:before
				width: 18px
				height: 18px
				background: url(../img/user-ico.svg) 0 0 no-repeat

		.button
			@media (min-width: $screen-sm-min)
				margin: 0 auto
				display: block

.download-contract
	margin-top: 60px
	margin-bottom: 30px

	@media (min-width: $screen-lg-min)
		display: flex
		align-items: center

	img
		width: 46px
		height: 46px
		margin-right: 15px

	p
		font-size: 16px
		margin: 0

	a
		color: #fff
		font-size: 16px
		text-decoration: underline

	&__ico
		@media (max-width: $screen-xs-max)
			display: flex
			align-items: center
			margin-top: 15px

.benefit
	font-size: 18px
	font-weight: 300
	text-align: center
	margin-top: 60px

	&__item
		margin-top: 7px

	h2
		margin-top: 0

.examples
	display: flex

	@media (max-width: $screen-sm-max)
		flex-flow: column
		margin-top: 50px

	@media (min-width: $screen-md-min)
		margin-top: 100px
		margin-bottom: 120px

	&__carousel
		position: relative

		@media (min-width: $screen-md-min)
			width: 60%

		h2
			margin: 0 0 40px

	&__data
		border: 1px solid #d8d8d8
		box-sizing: border-box
		position: relative
		z-index: -1

		@media (max-width: $screen-sm-max)
			padding: 0 15px 20px
			margin-top: 30px

		@media (min-width: $screen-md-min)
			margin-top: 10px
			padding: 23px 35px 45px 100px
			width: calc(40% + 100px)
			margin-left: -50px

		@media (min-width: $screen-lg-min)
			padding: 23px 35px 45px 200px
			width: calc(40% + 200px)
			margin-left: -200px

		h2
			margin-bottom: 30px

		p
			margin-bottom: 13px
			line-height: 18px


.carousel-control
	width: 45px
	height: 45px
	background: rgba(255,255,255, .5)
	top: 15px
	border-radius: 50%
	display: flex
	justify-content: center
	align-items: center

	&.left
		background-image: none
		left: 10px

	&.right
		background-image: none
		left: 65px

	img
		width: 20px
		height: 20px
		opacity: .8

.img-border
	text-align: center
	position: relative
	border: 1px solid #dfdfdf

	span
		position: absolute
		width: 35px
		height: 35px
		left: 3px
		top: 3px
		border-radius: 50%
		background-color: #0099de
		box-shadow: 0 0 1px #0099de, 0 0 2px #00b2ff
		color: #fff
		display: flex
		align-items: center
		justify-content: center

.img-border-content
	margin-top: 15px
	margin-bottom: 25px

	p
		font-size: 12px

.big-img
	@media (max-width: $screen-sm-max)
		margin-top: 30px
		margin-bottom: 30px

	img
		max-width: 100%
		margin: 10px 0 15px

.modal-img
	color: #1277cd
	border: 0
	text-decoration: underline
	font-weight: 600
	background: url(../img/ico-zoom.svg) 0 50% no-repeat
	background-size: 15px
	padding-left: 20px

.modal-content
	img
		max-width: 100%

.fire
	display: flex

	@media (max-width: $screen-sm-max)
		flex-flow: column
		margin-top: 60px

	@media (min-width: $screen-md-min)
		margin-top: 80px
		margin-bottom: 70px

	@media (min-width: $screen-lg-min)
		margin-top: 120px
		margin-bottom: 70px

	&__left
		background-color: #ebecec
		padding: 30px 35px
		box-sizing: border-box
		text-align: center

		@media (min-width: $screen-md-min)
			width: 46%

		h4
			margin-bottom: 25px

		p
			text-align: left
			font-size: 16px
			line-height: 22px

		img
			max-width: 100%

	&__right
		@media (max-width: $screen-sm-max)
			margin-top: 30px

		@media (min-width: $screen-md-min)
			width: 54%

		img
			max-width: 100%
			margin-top: 15px

			@media (min-width: $screen-md-min)
				margin-top: 10px

	&__text
		position: relative

		p
			position: absolute
			bottom: 20px
			color: #fff
			font-size: 22px
			padding: 0 60px

			@media (max-width: $screen-xs-max)
				font-size: 16px
				padding: 0 20px
				bottom: 10px
