<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Сталь Про - Молниезащита
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800")
		link(rel="stylesheet", href="css/steel-pro-landing.css")
	body
		header
			.container
				.header-content
					.row.header-content__top
						.col-sm-6.col-md-3
							img(src="img/logo.png", alt="")
						.col-sm-6.col-md-3.hidden-xs.visible-xs.visible-sm
							a(href="").button.button--white-border заявка на расчет
						.clearfix.visible-sm
						.col-sm-6.col-md-3
							p.phone-top +7 (495) 153-21-05
						.col-sm-6.col-md-3
							a(href="").mail-top info@steel-pro.ru
						.col-md-3.hidden-sm
							a(class="button button--white-border" href="#" data-toggle="modal" data-target="#demand") заявка на расчет

					.row.header-content__bottom
						.col-md-12
							.row
								.hidden-xs.col-sm-2.header-img
									img(src="img/header-img-1.png", alt="")
								.col-xs-12.col-sm-offset-1.col-sm-9.main-info
									h1 Молниеприемники
									h3 Надежная защита вашего дома от прямого попадания разряда молний

									.row.main-detail
										.col-md-8
											h4 Узнайте у нашего менеджера подробности о товаре
											form.manager__form
												.row
													.col-sm-6
														span.phone-ico
															input(type="text" name="" class="inp-phone" placeholder="Номер телефона")
													.col-sm-6
														input(type="submit" value="Позвоните мне" class="button button--gradient")
										.col-md-4
											p.small Нажимая на кнопку, вы даете  свое согласие на обработку персональных данных в соответствии с 
												a(href="") Политикой конфиденциальности

									.row.more-info
										.col-md-12
											span Все о молниеприемниках тут

		.content-bg
			.container
				h2.border-header
					span.color Оцинкованные 
					| молниеприемники
				.row
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Мачта пассивного молниеприемника МСАП-19 (19 м) со штырем
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать

				h2.border-header
					span.color Омедненные 
					| молниеприемники
				.row
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Мачта пассивного молниеприемника МСАП-19 (19 м) со штырем
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать


				h2.border-header
					span.color Нержавеющие 
					| молниеприемники
				.row
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Мачта пассивного молниеприемника МСАП-19 (19 м) со штырем
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-1.jpg", alt="")
							p.name Молниеприемная мачта (3м)
							p.price 5200 ₽
							a(href="#" class="button button--gradient" data-toggle="modal" data-target=".order") Заказать

				.price-info
					.row
						.col-md-3
							.price-info__download
								p
									strong Скачать полный прайс по молниезащите:
								.price-info__ico-txt
									img(src="img/pdf-ico.png", alt="")
									a(href="#" data-toggle="modal" data-target=".price-popup") Прайс-лист 2018 года

						.col-md-9
							.manager
								img(src="img/manager-img.jpg", alt="")
								.manager__bg.manager__bg--1
									.row
										.col-md-3
											.manager__img
												img(src="img/operator-img.png", alt="")
										.col-md-9
											.manager__info

												h3 Наш менеджер расскажет вам о предлагаемых товарах
												form.manager__form
													.row
														.col-sm-6.col-md-5
															span.phone-ico
																input(type="text" name="" class="inp-phone" placeholder="Номер телефона")
														.col-sm-6.col-md-5
															input(type="submit" value="Позвоните мне" class="button button--gradient")
												p Нажимая на кнопку, вы даете  свое согласие на обработку персональных данных в соответствии с 
													a(href="") Политикой конфиденциальности

				.lightning-text-info
					.row
						.col-xs-12
							h2.border-header.border-header--right Как выбрать материал молниеприемников?
					.row
						.col-xs-11.col-xs-offset-1
							p Основными материалами для изготовления компонентов систем грозозащиты, будь то молниеприемники, проводники, стержни заземления и крепеж являются: сталь горячего цинкования, нержавеющая сталь и медь. Каждый материал характеризуется различной механической прочностью, антикоррозионной стойкостью, эстетическим восприятием и сроком службы. 

				.row.material
					.col-md-4
						.material__item
							.material__img
								img(src="img/img-1.png", alt="")
							.material__info
								.material__info-top
									h4 оцинкованные
									span.dop-info St/FT
									span.dop-info St/tZn
								.material__info-bottom
									p.time cрок службы:<br> 15-20 лет
					.col-md-4
						.material__item
							.material__img
								img(src="img/img-2.png", alt="")
							.material__info
								.material__info-top
									h4 омедненные
									span.dop-info St/Cu
								.material__info-bottom
									p.time cрок службы:<br> 20-30 лет
					.col-md-4
						.material__item
							.material__img
								img(src="img/img-3.png", alt="")
							.material__info
								.material__info-top
									h4 нержавеющие
									span.dop-info V2A 
									span.dop-info V4A 
									span.dop-info NIRO
									span.dop-info V4A 
								.material__info-bottom
									p.time cрок службы:<br> 30-50 лет

				.fire
					.fire__left
						h4 Опасные районы России с повышенной вероятностью ударов молнией
						p Не зависимо от дданных показателей, в каждом доме необходима установка заземления, которое спасет вашу жизнь и электроприборы.
						img(src="img/fire-1.png", alt="")

					.fire__right
						h2.text-center Последствия удара молнии
						.fire__text
							p За 2017 год на территории России <br> пострадало домов ...
							img(src="img/fire-2.jpg", alt="")

				.big-img
					.row
						.col-md-12
							h2.border-header.text-center Схема устройства молниезащиты

							img(src="img/img-scheme.png", alt="")

							p.text-right 
								button(type="button" data-toggle="modal" data-target=".bs-example-modal-lg" class="modal-img") Увеличить схему

							.modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
								.modal-dialog.modal-lg
									.modal-content
										img(src="img/img-scheme.png", alt="")

				.lightning-img-info
					.row.lightning-img-info__header
						.col-sm-3
							img(src="img/header-img-2.png", alt="")
						.col-sm-9.lightning-img-info__text
							h2.border-header.border-header--right Вам в любом случае необходим комплект заземления, мы покажем Вам как его устанавливают

					.row
						.col-sm-4.col-md-2
							.img-border
								span 1
								img(src="img/installation-1.png", alt="")
							.img-border-content
								p Обработать резьбовую часть наконечника антикоррозионной пастой.
						.col-sm-4.col-md-2
							.img-border
								span 2
								img(src="img/installation-2.png", alt="")
							.img-border-content
								p Навернуть на стержень муфту и обработать антикоррозионной пастой.
						.col-sm-4.col-md-2
							.img-border
								span 3
								img(src="img/installation-3.png", alt="")
							.img-border-content
								p Навернуть наконечник на стержень.
						.clearfix.visible-sm
						.col-sm-4.col-md-2
							.img-border
								span 4
								img(src="img/installation-4.png", alt="")
							.img-border-content
								p Ввернуть головку.
								p В перфоратор вставить насадку.
						.col-sm-4.col-md-2
							.img-border
								span 5
								img(src="img/installation-5.png", alt="")
							.img-border-content
								p Забить первый стрежень.
						.col-sm-4.col-md-2
							.img-border
								span 6
								img(src="img/installation-6.png", alt="")
							.img-border-content
								p Вывернуть головку. <br>
									| Довернуть муфту <br>
									| (допускается использование ключа трубного).

					.row
						.col-md-2
							.img-border
								span 7
								img(src="img/installation-7.png", alt="")
							.img-border-content
								p Обработать муфту антикоррозионной пастой. Закрутить второй стержень в муфту, навернуть следующую муфту, обработать муфту антикоррозионной пастой, ввернуть головку.
						.col-md-4
							.img-border
								span 8
								img(src="img/installation-8.png", alt="")
							.img-border-content
								p Забить второй стержень, произвести замер сопротивление растекания. В случае, если измеренная величина больше требуемой, забивать стержни до получения нужного значения.
						.col-md-4
							.img-border
								span 9
								img(src="img/installation-9.png", alt="")
							.img-border-content
								p В случае невозможности достичь требуемого сопротивления растекания одним очагом, допускается забивать необходимое кол-во очагов с последующим их объединением. Объединение очагов и присоединение проводника производятся при помощи зажима. после закрепления зажима необходимо изолировать (обмотать) его изолирующей лентой.

				h2.border-header Комплекты заземления
				.row
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-4.jpg", alt="")
							p.name Комплект заземления
							p.price 5200 ₽
							a(href="").button.button--gradient Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-4.jpg", alt="")
							p.name Комплект заземления
							p.price 5200 ₽
							a(href="").button.button--gradient Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-4.jpg", alt="")
							p.name Комплект заземления
							p.price 5200 ₽
							a(href="").button.button--gradient Заказать
					.col-sm-6.col-md-3
						.goods-item
							img(src="img/img-4.jpg", alt="")
							p.name Комплект заземления
							p.price 5200 ₽
							a(href="").button.button--gradient Заказать

				.row.price-info
					.col-md-9
						.manager
							.row.manager__bg.manager__bg--2
								.col-md-8.col-md-offset-1
									.manager__info
										h3 Остались вопросы? Мы Вам перезвоним!
										form.manager__form
											.row
												.col-sm-6.col-md-7
													span.phone-ico
														input(type="text" name="" class="inp-phone" placeholder="Номер телефона")
												.col-sm-6.col-md-5
													input(type="submit" value="Позвоните мне" class="button button--gradient")
										p Нажимая на кнопку, вы даете  свое согласие на обработку персональных данных в соответствии с 
											a(href="") Политикой конфиденциальности
								.col-md-3
									.manager__img
										img(src="img/operator-2-img.png", alt="")
					.col-md-3
						.price-info__download
							p
								strong Скачать полный прайс по молниезащите:
							.price-info__ico-txt
								img(src="img/pdf-ico.png", alt="")
								a(href="#" data-toggle="modal" data-target=".price-popup") Прайс-лист 2018 года

				.dealers-offers
					.row
						.col-md-12.dealers-offers__header
							h2 Предложения для оптовиков
							p Для тех, кто хочет стать нашим партнером существует ряд преимуществ и выгодных предложений. 

					.row
						.col-sm-6.col-md-3.col-md-offset-2
							.dealers-offers__item
								.dealers-offers__item-img
									img(src="img/ico-dealers-1.png", alt="")
								.dealers-offers__item-txt
									p Отсрочка <br>платежа
						.col-sm-6.col-md-3
							.dealers-offers__item
								.dealers-offers__item-img
									img(src="img/ico-dealers-2.png", alt="")
								.dealers-offers__item-txt
									p Гибкая система <br>скидок
						.col-sm-12.col-md-2
							.dealers-offers__item
								.dealers-offers__item-img
									img(src="img/ico-dealers-3.png", alt="")
								.dealers-offers__item-txt
									p Горячая <br>доставка

					.row.download-contract
						.col-sm-12.col-md-5.col-md-offset-1.col-lg-6
							p *Для получения статуса партнера нужно подписать договор

						.col-sm-12.col-md-6.col-lg-5.download-contract__ico
							a(href="") 
								img(src="img/ico-download.svg", alt="")
							a(href="") Скачать типовой договор для партнеров

					.row
						.col-md-10.col-md-offset-1
							h4 Закажите прайс для оптовиков

					.row.dealers-offers__form
						form(action="")
							.col-sm-6.col-md-3.col-md-offset-1
								span.name-ico
									input(type="text" name="" placeholder="Имя")
							.col-sm-6.col-md-3
								span.phone-ico
									input(type="text" name="" placeholder="Телефон" class="inp-phone")
							.col-md-2
								input(type="submit" value="Заказать" class="button button--white")
							.col-md-2
								p Нажимая на кнопку, вы даете  свое согласие на обработку персональных данных в соответствии с 
									a(href="") Политикой конфиденциальности

				.benefit
					.row
						.col-md-12
							h2.border-header.text-center Преимущества работы с компанией:
					.row
						.col-md-3.col-sm-6.benefit__item
							img(src="img/benefit-1.jpg", alt="")
							p Оплата банковской <br>картой
						.col-md-3.col-sm-6.benefit__item
							img(src="img/benefit-2.jpg", alt="")
							p Оплата по факту <br>отгрузки
						.clearfix.visible-sm
						.col-md-3.col-sm-6.benefit__item
							img(src="img/benefit-3.jpg", alt="")
							p Постоянное наличие <br>на складе
						.col-md-3.col-sm-6.benefit__item
							img(src="img/benefit-4.jpg", alt="")
							p Обмен товара <br>на аналоги

				.examples
					.examples__carousel
						h2 Примеры применения<br> молниезащиты и заземления

						#carousel-example-generic.carousel.slide(data-ride="carousel")
							.carousel-inner
								.item.active
									img(src="img/slider-1.jpg", alt="")
								.item
									img(src="img/slider-2.jpg", alt="")

							a.left.carousel-control(href="#carousel-example-generic" data-slide="prev") 
								img(src="img/arrow-l.svg", alt="")
							a.right.carousel-control(href="#carousel-example-generic" data-slide="next")
								img(src="img/arrow-r.svg", alt="")

					.examples__data
						h2 Реквизиты компании
						p ООО «Сталь-Про»

						p ИНН/КПП: 7715777616/772401001

						p ОГРН: 1097746613161

						p Юр. адрес: 115409, г. Москва, Каширское шоссе, д. 70, корп. 3

						p Факт. и почт. адрес: 127106, г. Москва, Нововладыкинский пр-д д. 8, стр. 5

						p Телефон: 7 (495) 661-61-72

						p Факс: 7 (495) 661-70-62

						p Ген. директор: Варенова Людмила Николаевна

						p Банк: МОСКОВСКИЙ ФИЛИАЛ ПАО «РОСБАНК» Г. МОСКВА

						p Расчетный счет: 40702 81069 76200 00302

						p БИК: 044525256

						p Время работы: 8:00 - 18:00

						p Время работы склада: <br>
							| Пн-Чт 8:00 - 17:00 . Пт 8:00-16:00


				.row.price-info
					.col-md-9
						.manager
							.row.manager__bg.manager__bg--2
								.col-md-8.col-md-offset-1
									.manager__info
										h3 Остались вопросы? Мы Вам перезвоним!
										form.manager__form
											.row
												.col-sm-6.col-md-7
													span.phone-ico
														input(type="text" name="" class="inp-phone" placeholder="Номер телефона")
												.col-sm-6.col-md-5
													input(type="submit" value="Позвоните мне" class="button button--gradient")
										p Нажимая на кнопку, вы даете  свое согласие на обработку персональных данных в соответствии с 
											a(href="") Политикой конфиденциальности
								.col-md-3
									.manager__img
										img(src="img/operator-2-img.png", alt="")
					.col-md-3
						.price-info__download
							p
								strong Скачать полный прайс по молниезащите:
							.price-info__ico-txt
								img(src="img/pdf-ico.png", alt="")
								a(href="#" data-toggle="modal" data-target=".price-popup") Прайс-лист 2018 года


		#demand.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog
				.modal-content
					form(action="" role="form")

						.modal-header
							h4.modal-title Заявка на расчет

						.modal-body
							.row
								.col-md-6
									.form-group
										label Имя *
										input(type="text" class="form-control")
								.col-md-6
									.form-group
										label Телефон *
										input(type="text" class="form-control inp-phone")

							.row
								.col-md-4
									.form-group
										label Высота
										input(type="text" class="form-control")
								.col-md-4
									.form-group
										label Ширина
										input(type="text" class="form-control")
								.col-md-4
									.form-group
										label Длина
										input(type="text" class="form-control inp-metr")

							.row
								.col-md-6
									.form-group
										label(for="demand-name") Тип кровли
										select(name="" class="form-control")
											option(value="") Скатная
											option(value="") Плоская

								.col-md-6
									.form-group
										label(for="demand-name") Материал фасада
										select(name="" class="form-control")
											option(value="") Дерево
											option(value="") Бетон

						.modal-footer
							button(type="submit" class="btn btn-primary") Отправить


		.order.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog
				.modal-content
					form(action="" role="form")

						.modal-header
							h4.modal-title Заказать

						.modal-body
							h5 Молниеприемная мачта (3м) <br> 5200 ₽
							.row
								.col-md-6
									.form-group
										label Имя
										input(type="text" class="form-control")
								.col-md-6
									.form-group
										label Телефон
										input(type="text" class="form-control inp-phone")

						.modal-footer
							button(type="submit" class="btn btn-primary") Отправить



		.price-popup.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog
				.modal-content
					form(action="" role="form")

						.modal-header
							h4.modal-title Скачать прайс лист

						.modal-body
							p Укажите ваш E-mail адрес и мы отправим Вам прайс лист на почту
							.form-group
								label E-mail
								input(type="email" class="form-control")

						.modal-footer
							button(type="submit" class="btn btn-primary") Отправить


		script(src="//code.jquery.com/jquery-2.2.4.min.js")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="js/jquery.maskedinput.min.js")
		script(src="js/js-steel-pro-landing.js")